{% extends '::base.html.twig' %}
        
{% block title %}Inicio {% endblock %}
{% block body %}

<div id="cir">
   <h1 id="country">Aquí puedes consultar todos los cortes hasta el momento</h1>
   
  
   </div>



  
        
{% endblock %}